/* ------------------------------------------------------------------
   Header
   ------------------------------------------------------------------ */

.header {
	background: var(--color-dark-dark-10);
}

@media (min-width: 768px) {
	.header {
		position: fixed;
		width: 384px;
		height: 100%;
	}
}