.slide.shout P {
	color:#FFF;
}

#hop.full .slide.active {
  margin: 0;
}


.first>div {
	width:832px;
	padding-left:96px;
}
.first>div:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.15);
}
.first .grid {
	position: absolute;
	top: 0;
	left: 50%;
	width: 600px;
	height: 100%;
	margin-left:-301px;
	border-left:1px dotted #FFF;
	border-right:1px dotted #FFF;
	opacity:.6;
}
.first .grid:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 299px;
	height: 100%;
	border-right:1px dotted #FFF;
}
.first .title {
	position: relative;
	padding-top:128px;
}
.first .title:before {
	content: '';
	position: absolute;
	left: 116px;
	width: 24px;
	height: 24px;
	background: #20AA97;
	top: 0;
}
.first .title:after {
	content: '';
	position: absolute;
	right: 116px;
	width: 12px;
	height: 12px;
	border-bottom: 12px solid #6988BE;
	border-right: 12px solid #6988BE;
	bottom: -128px;
}
.first .title h2 {
	position:relative;
	padding-left:4px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size:64px;
	font-weight: 800;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.first .title p {
	position:relative;
	width:350px;
	margin-left:240px;
	font-weight: 600;
	letter-spacing: .05em;
	color: #FFF;
	text-align: center;
}

.first .wsd {
	position:absolute;
	bottom:96px;
	left:50%;
	margin-left:-48px;
	width:96px;
	text-align:center;
	font-size:0;
}
	.first .wsd img {
		position:static;
		z-index:1;
	}

.slide .adv:after {
	content:'';
	display:block;
	clear:both;
	overflow:hidden;
}
	.slide .adv LI {
		float:left;
		width:260px;
	}
	.slide .adv LI:before {
		content:'';
		width:2em;
		height:1em;
		background-size:auto 100%;
		background-repeat:no-repeat;
		background-image:url(../pictures/yes.svg);
	}
	
	.slide .adv.client+.comment {
		visibility:hidden;
		margin-top:-24px;
	}
	.slide .adv.client.active+.comment {
		visibility:visible;
	}


.axis {
	margin:-48px 0 0 148px;
}

@-webkit-keyframes perspective-orig-anim {
	0% { perspective-origin:50% 50%; }
	10% { perspective-origin:0 50%; }
	20% { perspective-origin:0 0; }
	30% { perspective-origin:50% 0; }
	40% { perspective-origin:100% 0; }
	50% { perspective-origin:100% 50%; }
	60% { perspective-origin:100% 100%; }
	70% { perspective-origin:50% 100%; }
	80% { perspective-origin:0 100%; }
	90% { perspective-origin:0 50%; }
	100% { perspective-origin:50 50%; }
}
@keyframes perspective-orig-anim {
	0% { perspective-origin:50% 50%; }
	10% { perspective-origin:0 50%; }
	20% { perspective-origin:0 0; }
	40% { perspective-origin:100% 0; }
	60% { perspective-origin:100% 100%; }
	80% { perspective-origin:0 100%; }
	90% { perspective-origin:0 50%; }
	100% { perspective-origin:50 50%; }
}
@keyframes perspective-eye-anim {
	0% { left:50%; top:50%; }
	10% { left:0; top:50%; }
	20% { left:0; top:0; }
	40% { left:100%; top:0; }
	60% { left:100%; top:100%; }
	80% { left:0; top:100%; }
	90% { left:0; top:50%; }
	100% { left:50; top:50%; }
}

.perspective {
	
}
	.perspective .code {
		margin-top:-40px;
	}
	.perspective .val:before {
		content:'700';
	}
	.perspective .eye {
		display:none;
		position:absolute;
		top:50%;
		left:50%;
		margin:-20px 0 0 -32px;
	}

.perspective-area {
	position:absolute;
	top:120px;
	left:202px;
	width:620px;
	height:440px;
	visibility:hidden;
}
	.perspective-area._visible {
		visibility:visible;
	}

.perspective-scene {
	perspective:700px;
	perspective-origin:50% 50%;
	transition:perspective 1s linear;

	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
	
	.perspective-val700.active~.perspective-area {
		visibility:visible;
	}

	.perspective-val200.active~.code .val:before {
		content:'200';
	}
	
	.perspective-val200.active~ .perspective-area .perspective-scene {
		perspective:200px;
	}
	
	.perspective-val1200.active~.code .val:before {
		content:'1200';
	}
	
	.perspective-val1200.active~ .perspective-area .perspective-scene {
		perspective:1200px;
	}

	.slide.active .perspective-orig.active~ .perspective-area .perspective-scene {
		animation:perspective-orig-anim 20s infinite;
		animation-delay:1s;
	}
	.perspective-orig.active~ .perspective-area .eye {
		display:block;
	}
	.slide.active .perspective-orig.active~ .perspective-area .eye {
		animation:perspective-eye-anim 20s infinite;
		animation-delay:1s;
	}

	.perspective-scene .sides {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		transform-style:preserve-3d;
	}
		.perspective-scene .sides>DIV {
			float:left;
			width:180px;
			height:120px;
			margin:20px 0 0 20px;
			background:#6988BE;
		}
		.perspective-scene .sides>DIV:nth-child(1),
		.perspective-scene .sides>DIV:nth-child(3),
		.perspective-scene .sides>DIV:nth-child(7),
		.perspective-scene .sides>DIV:nth-child(9) {
			visibility:hidden;
		}
		.perspective-scene .sides>DIV:nth-child(2) {
			transform:rotateX(-30deg);
		}
		.perspective-scene .sides>DIV:nth-child(4) {
			transform:rotateY(30deg);
		}
		.perspective-scene .sides>DIV:nth-child(6) {
			transform:rotateY(-30deg);
		}
		.perspective-scene .sides>DIV:nth-child(8) {
			transform:rotateX(30deg);
		}




.logo {
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:6px 36px 0 0;
	font-size:0;
	line-height:0;
}
.logo>img {
	position: relative;
	top: auto;
	left: auto;
	z-index: auto;
}
.logo.rdcm {
	width: 36px;
	height: 36px;
	background: #000;
}
.logo.cpeople {
	width: 22px;
	height: 24px;
	padding: 6px 7px;
	border-radius: 18px;
	background:#DDDC00;
}
	.logo.cpeople:before {
		content:'';
		position:absolute;
		top:15px;
		left:14px;
		width:8px;
		height:8px;
		background:#FFF;
		transform-origin:0 0;
		transform:rotate(-10deg);
	}

.comment {
    color: #AAA;
}

.slide.cover .video {
	z-index:1;
	margin:0 32px;
}
.slide.cover .video+h2 {
	position:relative;
	z-index:2;
}
.slide.cover .video.playing+h2 {
	display:none;
}

.twoscenes {
	position: relative; 
	margin-left: 29px;
	width: 710px;
	height: 400px;
}

.scene3d {
	perspective: 1200px;
}
/*.scene3d._rotated {
	perspective-origin: center -150px;
}*/
.scene3d._bigger {
	perspective: 1600px;
}
.scene3d._rotator {
	position:absolute;
	top:150px;
	left:525px;
	perspective: 400px;
}


@-webkit-keyframes real-3d-rotate {
	100% { transform: rotateX(360deg); }
}
@keyframes real-3d-rotate {
	100% { transform: rotateX(360deg); }
}

.scene3d .cube {
	position:relative;
	margin-left:234px;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
}
.cube._outline:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border:3px dotted #000;
	opacity:.25;
	box-sizing:border-box;
}
.scene3d._bigger .cube {
	margin-left:184px;
	width: 400px;
	height: 400px;
}

.twoscenes .scene3d .cube {
	margin-left:205px;
}
.twoscenes .scene3d._bigger .cube {
	margin-left: 0;
	width: 710px;
}

.scene3d._rotator .cube {
	margin-left: 0;
	width: 200px;
	height: 100px;
}

.slide.active .scene3d-togglerotate.active~.scene3d .cube,
.slide.active .scene3d._rotating .cube {
	-webkit-animation: real-3d-rotate 10s infinite linear;
	animation: real-3d-rotate 10s infinite linear;
}

.scene3d._rotated .cube {
	transition:transform 1s 3s;
}
.slide.active .scene3d._rotated .cube {
	transform: rotateX(42deg);
}


.scene3d .side {
	position: absolute;
	width: 300px;
	height: 300px;
	box-sizing:border-box;
	border: 5px solid #9aa;
	background-color: rgba(32,170,151,.33);
	background-repeat:no-repeat;
}
.scene3d._bigger .side {
	width: 400px;
	height: 400px;
}
.twoscenes .scene3d._bigger .side {
	width: 710px;
	border-width:1px;
}
.scene3d._rotator .side {
	width: 200px;
	height: 100px;
	border-color:#333;
	border-width:1px;
}

.scene3d .cube>.top,
.scene3d .cube>.bottom {
	background-color: rgba(105,136,190,.33);
}
.scene3d .cube>.left,
.scene3d .cube>.right {
	background-color: rgba(153,153,153,.33);
}
.scene3d._darker .cube>.side {
	background-color: rgba(32,170,151,.50);
}
.scene3d._darker .cube>.top,
.scene3d._darker .cube>.bottom {
	background-color: rgba(105,136,190,.50);
}

.scene3d._rotator .cube>.top,
.scene3d._rotator .cube>.bottom,
.scene3d._rotator .cube>.front,
.scene3d._rotator .cube>.back {
	background:#000;
}

.scene3d .side>span {
	display:none;
	height:50px;
	padding:120px 0;

	font-size:50px;
	line-height:50px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
.scene3d._bigger .side>span {
	padding:170px 0;
}
.twoscenes .scene3d._bigger .side>span {
	padding:174px 0;
}

.scene3d-togglenames.active~.scene3d .cube>div>span,
.scene3d._names .cube>div>span {
	display:block;
}

.scene3d._rotator .side>span {
	display:block; 
	padding:24px 15px 24px 0;
	font-size:25px;
}


.scene3d .back {
	transform: translateZ(-150px); 
}
.scene3d .front {
	transform: translateZ(150px);
}
.scene3d .top {
	transform: translateY(-150px) rotateX(90deg);
}
.scene3d .bottom {
	transform: translateY(150px) rotateX(90deg);
}
.scene3d .left {
	transform: translateX(-150px) rotateY(90deg);
}
.scene3d .right {
	transform: translateX(150px) rotateY(90deg);
}

.scene3d-togglecorrect.active~.scene3d .back,
.scene3d._corrected .back {
	transform: translateZ(-150px) rotateX(180deg);
}
.scene3d-togglecorrect.active~.scene3d .bottom,
.scene3d._corrected .bottom {
	transform: translateY(150px) rotateX(270deg);
}


.scene3d._bigger .back {
	transform: translateZ(-200px) rotateX(180deg); 
}
.scene3d._bigger .front {
	transform: translateZ(200px);
}
.scene3d._bigger .top {
	transform: translateY(-200px) rotateX(90deg);
}
.scene3d._bigger .bottom {
	transform: translateY(200px) rotateX(270deg);
}


.scene3d._rotator .back {
	transform: translateZ(-50px) rotateX(180deg); 
}
.scene3d._rotator .front {
	transform: translateZ(50px);
}
.scene3d._rotator .top {
	transform: translateY(-50px) rotateX(90deg);
}
.scene3d._rotator .bottom {
	transform: translateY(50px) rotateX(270deg);
}

.scene3d._rotator._v1 .cube {
	transform:translateZ(-50px);
}


.slide .cubestyle {
	margin-top:-48px;
	font-size:20px;
}
	.slide .comment+.cubestyle {
		margin-top:0;
	}
	.cubestyle .code {
		visibility:hidden;
	}
	.cubestyle._nocount code:before {
		visibility:hidden;
	}
	.cubestyle code I {
		font-style:normal;
		color:#20AA97;
	}
.cubepreview {
	float:right;
	width:300px;
	margin-top:50px;
}
	.cubepreview .cube {
		margin-left:0;
	}
	.cubepreview .cube .side {
		visibility:hidden;
		background:rgba(221,0,0,.33);
		transition:transform 1s ease-out 1s, background 1s ease-out 1s;
	}
.cubepreview+.cubestyle {
	float:left;
	width:500px;
}

.cubeshow._cube.active ~ .cubestyle ._cube { visibility:visible; }
.cubeshow._sides.active ~ .cubestyle ._sides { visibility:visible; }

.cubeshow._back.active ~ .cubestyle ._back { visibility:visible; }
/*.cubeshow._back.active ~ .cubepreview .back { visibility:visible; }*/
.cubeshow._back.active ~ .cubepreview ._back { visibility:visible; transform: translateZ(-150px); background:rgba(32,170,151,.33); }

.cubeshow._left.active ~ .cubestyle ._left { visibility:visible; }
/*.cubeshow._left.active ~ .cubepreview .left { visibility:visible; }*/
.cubeshow._left.active ~ .cubepreview ._left { visibility:visible; transform: translateX(-150px) rotateY(90deg); background:rgba(153,153,153,.33); }

.cubeshow._right.active ~ .cubestyle ._right { visibility:visible; }
/*.cubeshow._right.active ~ .cubepreview .right { visibility:visible; }*/
.cubeshow._right.active ~ .cubepreview ._right { visibility:visible; transform: translateX(150px) rotateY(90deg); background:rgba(153,153,153,.33); }

.cubeshow._top.active ~ .cubestyle ._top { visibility:visible; }
/*.cubeshow._top.active ~ .cubepreview .top { visibility:visible; }*/
.cubeshow._top.active ~ .cubepreview ._top { visibility:visible; transform: translateY(-150px) rotateX(90deg); background:rgba(105,136,190,.33); }

.cubeshow._bottom.active ~ .cubestyle ._bottom { visibility:visible; }
/*.cubeshow._bottom.active ~ .cubepreview .bottom { visibility:visible; }*/
.cubeshow._bottom.active ~ .cubepreview ._bottom { visibility:visible; transform: translateY(150px) rotateX(90deg); background:rgba(105,136,190,.33); }

.cubeshow._front.active ~ .cubestyle ._front { visibility:visible; }
/*.cubeshow._front.active ~ .cubepreview .front { visibility:visible; }*/
.cubeshow._front.active ~ .cubepreview ._front { visibility:visible; transform: translateZ(150px); background:rgba(32,170,151,.33); }


.code_hid {
	visibility:hidden;
}

.scene3d._rotator._v2 {
	perspective:600px;
}
.scene3d._rotator._v2 .cube {
	transform:translateZ(250px) scale(.5);
}


.scene3d-codecorrected {
	display:none;
}
.scene3d-togglecorrect.active~.scene3d-codecorrected {
	display:block;
	margin-top:58px;
}

.scene3d-label {
	position:absolute;
	z-index:2;
	top:275px;
	left:96px;
	height:50px;

	font-size:50px;
	line-height:50px;
	text-transform: uppercase;

	background: rgba(32,170,151,.66);
	color:#FFF;
}
.scene3d-label:before,
.scene3d-label:after {
	content:'';
	position:absolute;
	left:0;
	width:500px;
	height:2px;
	background:#D00;
	opacity:0;
	transition:opacity 1s 5s;
}
.scene3d-label:before {
	top:6px;
}
.scene3d-label:after {
	bottom:4px;
}

.scene3d-label.active:before,
.scene3d-label.active:after {
	opacity:1;
}

@-webkit-keyframes blink {
	0% { opacity:0; }
	25% { opacity:1; }
	50% { opacity:0; }
}
@keyframes blink {
	0% { opacity:0; }
	25% { opacity:1; }
	50% { opacity:0; }
}

.slide.active .scene3d-label.blink:before,
.slide.active .scene3d-label.blink:after {
	-webkit-animation:blink 10s linear infinite;
	animation:blink 10s linear infinite;
}

.scene3d-toggledrown~.scene3d .cube {
	transition:transform 1s;
}

.scene3d-toggledrown.active+.scene3d .cube,
.scene3d._drowned .cube {
	transform:translateZ(-200px);
}

.scene3d-drown-code {
	display:none;
}
.scene3d-toggledrown.active~.scene3d-drown-code {
	display:block;
}



@-webkit-keyframes real-3d-drown-rotate {
	0% { transform: translateZ(-200px) rotateX(0deg); }
	100% { transform: translateZ(-200px) rotateX(360deg); }
}
@keyframes real-3d-drown-rotate {
	0% { transform: translateZ(-200px) rotateX(0deg); }
	100% { transform: translateZ(-200px) rotateX(360deg); }
}

.slide.active .scene3d._drownrotating .cube {
	transform:translateZ(-200px);
	-webkit-animation: real-3d-drown-rotate 10s infinite linear;
	animation: real-3d-drown-rotate 10s infinite linear;
}
.scene3d._drownrotating .side:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.15);
}
.scene3d._drownrotating .side>span {
	position:relative;
}


@-webkit-keyframes real-3d-step-rotate {
	0% { transform: translateZ(-200px) rotateX(0deg); }
	15% { transform: translateZ(-200px) rotateX(90deg); }
	25% { transform: translateZ(-200px) rotateX(90deg); }
	40% { transform: translateZ(-200px) rotateX(180deg); }
	50% { transform: translateZ(-200px) rotateX(180deg); }
	65% { transform: translateZ(-200px) rotateX(270deg); }
	75% { transform: translateZ(-200px) rotateX(270deg); }
	90% { transform: translateZ(-200px) rotateX(360deg); }
	100% { transform: translateZ(-200px) rotateX(360deg); }
}
@keyframes real-3d-step-rotate {
	0% { transform: translateZ(-200px) rotateX(0deg); }
	15% { transform: translateZ(-200px) rotateX(90deg); }
	25% { transform: translateZ(-200px) rotateX(90deg); }
	40% { transform: translateZ(-200px) rotateX(180deg); }
	50% { transform: translateZ(-200px) rotateX(180deg); }
	65% { transform: translateZ(-200px) rotateX(270deg); }
	75% { transform: translateZ(-200px) rotateX(270deg); }
	90% { transform: translateZ(-200px) rotateX(360deg); }
	100% { transform: translateZ(-200px) rotateX(360deg); }
}

.slide.active .twoscenes .scene3d._drownrotating .cube {
	transform:translateZ(-200px);
	-webkit-animation: real-3d-step-rotate 10s infinite linear;
	animation: real-3d-step-rotate 10s infinite linear;
}



@-webkit-keyframes real-3d-rotator-drown-rotate {
	0% { transform: translateZ(-50px) rotateX(0deg); }
	15% { transform: translateZ(-50px) rotateX(90deg); }
	25% { transform: translateZ(-50px) rotateX(90deg); }
	40% { transform: translateZ(-50px) rotateX(180deg); }
	50% { transform: translateZ(-50px) rotateX(180deg); }
	65% { transform: translateZ(-50px) rotateX(270deg); }
	75% { transform: translateZ(-50px) rotateX(270deg); }
	90% { transform: translateZ(-50px) rotateX(360deg); }
	100% { transform: translateZ(-50px) rotateX(360deg); }
}
@keyframes real-3d-rotator-drown-rotate {
	0% { transform: translateZ(-50px) rotateX(0deg); }
	15% { transform: translateZ(-50px) rotateX(90deg); }
	25% { transform: translateZ(-50px) rotateX(90deg); }
	40% { transform: translateZ(-50px) rotateX(180deg); }
	50% { transform: translateZ(-50px) rotateX(180deg); }
	65% { transform: translateZ(-50px) rotateX(270deg); }
	75% { transform: translateZ(-50px) rotateX(270deg); }
	90% { transform: translateZ(-50px) rotateX(360deg); }
	100% { transform: translateZ(-50px) rotateX(360deg); }
}

.slide.active .scene3d._rotator._v1._anim .cube {
	-webkit-animation: real-3d-rotator-drown-rotate 10s infinite linear;
	animation: real-3d-rotator-drown-rotate 10s infinite linear;
}

@-webkit-keyframes real-3d-rotator-rotate {
	0% { transform: translateZ(250px) scale(.5) rotateX(0deg); }
	15% { transform: translateZ(250px) scale(.5) rotateX(90deg); }
	25% { transform: translateZ(250px) scale(.5) rotateX(90deg); }
	40% { transform: translateZ(250px) scale(.5) rotateX(180deg); }
	50% { transform: translateZ(250px) scale(.5) rotateX(180deg); }
	65% { transform: translateZ(250px) scale(.5) rotateX(270deg); }
	75% { transform: translateZ(250px) scale(.5) rotateX(270deg); }
	90% { transform: translateZ(250px) scale(.5) rotateX(360deg); }
	100% { transform: translateZ(250px) scale(.5) rotateX(360deg); }
}
@keyframes real-3d-rotator-rotate {
	0% { transform: translateZ(250px) scale(.5) rotateX(0deg); }
	15% { transform: translateZ(250px) scale(.5) rotateX(90deg); }
	25% { transform: translateZ(250px) scale(.5) rotateX(90deg); }
	40% { transform: translateZ(250px) scale(.5) rotateX(180deg); }
	50% { transform: translateZ(250px) scale(.5) rotateX(180deg); }
	65% { transform: translateZ(250px) scale(.5) rotateX(270deg); }
	75% { transform: translateZ(250px) scale(.5) rotateX(270deg); }
	90% { transform: translateZ(250px) scale(.5) rotateX(360deg); }
	100% { transform: translateZ(250px) scale(.5) rotateX(360deg); }
}

.slide.active .scene3d._rotator._v2._anim .cube {
	-webkit-animation: real-3d-rotator-rotate 10s infinite linear;
	animation: real-3d-rotator-rotate 10s infinite linear;
}


.slide.cover .nooo {
	z-index:1;
	top:70px;
}
.slide.cover .nooo+H2 {
	position:relative;
	z-index:2;
	color:#FFF;
}

.scene3d._transorig {
	position:absolute;
	top:170px;
	left:512px;
	width:300px;
	height:300px;
}
.scene3d._transorig .cube {
	position:absolute;
	top:0;
	left:0;
	margin:0;
	/*transform:translateZ(-150px);*/
}
.scene3d._transorig .side {
	background-color: rgba(32,170,151,1);
}
.scene3d._transorig .side>SPAN {
	display:block;
}

@-webkit-keyframes transorig-rotate2d {
	100% { transform:rotate(360deg); }
}
@keyframes transorig-rotate2d {
	100% { transform:rotate(360deg); }
}

@-webkit-keyframes transorig-rotate3d {
	100% { transform:rotateX(360deg); }
}
@keyframes transorig-rotate3d {
	100% { transform:rotateX(360deg); }
}
@-webkit-keyframes transorig-rotate3d-dot {
	0% { opacity:0; }
	24% { opacity:1; }
	25% { opacity:1; }
	75% { opacity:1; }
	76% { opacity:1; }
	100% { opacity:0; }
}
@keyframes transorig-rotate3d-dot {
	0% { opacity:0; }
	14.3% { opacity:0; }
	14.4% { opacity:1; }
	85.6% { opacity:1; }
	85.7% { opacity:0; }
	100% { opacity:0; }
}

.transorig {

}
.scene3d._transorig .dot {
	display:none;
	position:absolute;
	width:20px;
	height:20px;
	margin:-10px;
	border-radius:10px;
	background:#D00;
}

.transorig ._bvh {
	margin-top:48px;
}

.radio1 {
	position:absolute;
	top:220px;
	left:96px;
}
.radio2 {
	position:absolute;
	top:268px;
	left:96px;
}
.radio3 {
	position:absolute;
	top:316px;
	left:96px;
}
.radio4 {
	position:absolute;
	top:364px;
	left:96px;
}
.radio5 {
	position:absolute;
	top:412px;
	left:96px;
}

.chk_bvh {
	position:absolute;
	top:509px;
	left:96px;
}

.slide.active .radio5:checked~.scene3d._transorig .cube {
	z-index:2;
}

.slide.active .radio1:checked~.scene3d._transorig .side {
	-webkit-animation:transorig-rotate2d 5s infinite linear;
	animation:transorig-rotate2d 5s infinite linear;
}
.slide.active .radio2:checked~.scene3d._transorig .side {
	transform-origin: 50% 0;
	-webkit-animation:transorig-rotate2d 5s infinite linear;
	animation:transorig-rotate2d 5s infinite linear;
}
.slide.active .radio3:checked~.scene3d._transorig .side {
	transform-origin: 0 0;
	-webkit-animation:transorig-rotate2d 5s infinite linear;
	animation:transorig-rotate2d 5s infinite linear;
}
.slide.active .radio4:checked~.scene3d._transorig .side {
	transform-origin: left bottom;
	-webkit-animation:transorig-rotate2d 5s infinite linear;
	animation:transorig-rotate2d 5s infinite linear;
}

.slide.active .radio5:checked~.scene3d._transorig .side {
	transform-origin: 50% 50% -150px;
	-webkit-animation:transorig-rotate3d 5s infinite linear;
	animation:transorig-rotate3d 5s infinite linear;
}

.slide.active .chk_bvh:checked~.scene3d._transorig .side {
	backface-visibility:hidden;
}

.slide.active .radio1:checked~.scene3d._transorig .dot {
	display:block;
	top:50%;
	left:50%;
}
.slide.active .radio2:checked~.scene3d._transorig .dot {
	display:block;
	top:0;
	left:50%;
}
.slide.active .radio3:checked~.scene3d._transorig .dot {
	display:block;
	top:0;
	left:0;
}
.slide.active .radio4:checked~.scene3d._transorig .dot {
	display:block;
	top:100%;
	left:0;
}
.slide.active .radio5:checked~.scene3d._transorig .dot {
	display:block;
	z-index:2;
	top:50%;
	left:50%;
	transform:translateZ(-150px);
	opacity:0;
	-webkit-animation:transorig-rotate3d-dot 5s infinite linear;
	animation:transorig-rotate3d-dot 5s infinite linear;
}


.twoscenes .monitor {
	position:absolute;
	top:-100px;
	left:-100px;
	display:none;
}
.twoscenes .screen.active {
	position:absolute;
	width:710px;
	height:400px;
	background:#777;
}
.twoscenes .screen.active~.monitor {
	display:block;
}





.preserve3d {
	position:relative;
	width:800px;
	height:360px;
}
.preserve3d img {
	position:absolute;
}



.scenefake3d {
	
}
.scenefake3d .cube {
	position:relative;
	margin-left:184px;
	width: 400px;
	height: 400px;
	transform: perspective(1600px) translateZ(-200px);
}

.scenefake3d .side {
	position: absolute;
	width: 400px;
	height: 400px;
	box-sizing:border-box;
	border: 5px solid #9aa;
	background-repeat:no-repeat;
	transform-origin:50% 50% -200px;
	backface-visibility:hidden;*
}

.scenefake3d .side>span {
	position:relative;
	display:block;
	height:50px;
	padding:170px 0;

	font-size:50px;
	line-height:50px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.slide.active .scenefake3d .front {
	transform:perspective(1600px);
}

.scenefake3d .side:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.15);
}

.slide.active .scenefake3d-toggle.active+.scenefake3d .right,
.slide.active .scenefake3d._rotating .right {
	transform: perspective(1600px) rotateY(90deg);
	-webkit-animation:fake3d-rotate-right 10s infinite linear;
	animation:fake3d-rotate-right 10s infinite linear;
}
.slide.active .scenefake3d-toggle.active+.scenefake3d .left,
.slide.active .scenefake3d._rotating .left {
	transform:perspective(1600px) rotateY(270deg);
	-webkit-animation:fake3d-rotate-left 10s infinite linear;
	animation:fake3d-rotate-left 10s infinite linear;
}
.slide.active .scenefake3d-toggle.active+.scenefake3d .top,
.slide.active .scenefake3d._rotating .top {
	transform:perspective(1600px) rotateX(90deg);
	-webkit-animation:fake3d-rotate-top 10s infinite linear;
	animation:fake3d-rotate-top 10s infinite linear;
}
.slide.active .scenefake3d-toggle.active+.scenefake3d .bottom,
.slide.active .scenefake3d._rotating .bottom {
	transform:perspective(1600px)  rotateX(-90deg);
	-webkit-animation:fake3d-rotate-bottom 10s infinite linear;
	animation:fake3d-rotate-bottom 10s infinite linear;
}
.slide.active .scenefake3d-toggle.active+.scenefake3d .front,
.slide.active .scenefake3d._rotating .front {
	transform:perspective(1600px);
	-webkit-animation:fake3d-rotate-front 10s infinite linear;
	animation:fake3d-rotate-front 10s infinite linear;
}
.slide.active .scenefake3d-toggle.active+.scenefake3d .back,
.slide.active .scenefake3d._rotating .back {
	transform:perspective(1600px)  rotateY(180deg);
	-webkit-animation:fake3d-rotate-back 10s infinite linear;
	animation:fake3d-rotate-back 10s infinite linear;
}

@-webkit-keyframes fake3d-rotate-right {
	0% {transform: perspective(1600px) rotateX(0deg) rotateY(90deg);}
	100% {transform: perspective(1600px) rotateX(360deg) rotateY(90deg);}
}
@-webkit-keyframes fake3d-rotate-left {
	0% {transform:perspective(1600px) rotateX(0deg) rotateY(270deg);}
	100% {transform:perspective(1600px) rotateX(360deg) rotateY(270deg);}
}
@-webkit-keyframes fake3d-rotate-top {
	0% {transform:perspective(1600px) rotateX(90deg);}
	100% {transform:perspective(1600px) rotateX(450deg);}
}
@-webkit-keyframes fake3d-rotate-bottom {
	0% {transform:perspective(1600px)  rotateX(-90deg);}
	100% {transform:perspective(1600px) rotateX(270deg);}
}
@-webkit-keyframes fake3d-rotate-front {
	0% {transform:perspective(1600px) rotateX(0deg);}
	100% {transform:perspective(1600px) rotateX(360deg);}
}
@-webkit-keyframes fake3d-rotate-back {
	0% {transform:perspective(1600px) rotateX(0deg) rotateY(180deg) rotateZ(180deg);}
	100% {transform:perspective(1600px) rotateX(360deg)  rotateY(180deg) rotateZ(180deg);}
}

@keyframes fake3d-rotate-right {
	0% {transform: perspective(1600px) rotateX(0deg) rotateY(90deg);}
	100% {transform: perspective(1600px) rotateX(360deg) rotateY(90deg);}
}
@keyframes fake3d-rotate-left {
	0% {transform:perspective(1600px) rotateX(0deg) rotateY(270deg);}
	100% {transform:perspective(1600px) rotateX(360deg) rotateY(270deg);}
}
@keyframes fake3d-rotate-top {
	0% {transform:perspective(1600px) rotateX(90deg);}
	100% {transform:perspective(1600px) rotateX(450deg);}
}
@keyframes fake3d-rotate-bottom {
	0% {transform:perspective(1600px)  rotateX(-90deg);}
	100% {transform:perspective(1600px) rotateX(270deg);}
}
@keyframes fake3d-rotate-front {
	0% {transform:perspective(1600px) rotateX(0deg);}
	100% {transform:perspective(1600px) rotateX(360deg);}
}
@keyframes fake3d-rotate-back {
	0% {transform:perspective(1600px)  rotateX(0deg) rotateY(180deg) rotateZ(180deg);}
	100% {transform:perspective(1600px) rotateX(360deg)  rotateY(180deg) rotateZ(180deg);}
}


.gimmetwo {
	margin-top:-48px;
}
.gimmetwo .scene3d {
	float:left;
	transform:scale(.75);
}
.gimmetwo .scenefake3d {
	float:right;
	transform:scale(.75);
}
.gimmetwo .scene3d .cube,
.gimmetwo .scenefake3d .cube {
	margin-left:0;
}

.constructfake3d .scenefake3d .cube {
	position:absolute;
	top:200px;
	left:600px;
	margin-left:0;
	width:300px;
	height:300px;
	transform:perspective(1200px) translateZ(-150px);
}
	.constructfake3d .scenefake3d .side {
		width:300px;
		height:300px;
		background-color: rgba(32,170,151,1);
		transform-origin:50% 50% -150px;
		backface-visibility:visible;
		transition:transform 1s;
	}
		.constructfake3d .scenefake3d .side>SPAN {
			padding:120px 0;
		}

	.slide.active .constructfake3d .radio1:checked~.scenefake3d .side {
		
	}
	.slide.active .constructfake3d .radio2:checked~.scenefake3d .side {
		transform:perspective(1200px);
	}
	.slide.active .constructfake3d .radio3:checked~.scenefake3d .side {
		transform:perspective(1200px) rotateY(180deg);
	}
	.slide.active .constructfake3d .radio4:checked~.scenefake3d .side {
		transform:perspective(1200px) rotateX(90deg);
	}
	.slide.active .constructfake3d .radio5:checked~.scenefake3d .side {
		transform:perspective(1200px) rotateX(-90deg);
	}




.scenefake3d-code {
	
}
.scenefake3d-code pre {
	margin:-38px 0 0
}
.scenefake3d-code h2 {
	display:none;
	position:absolute;
	top:100px;
	left:128px;
	width:768px;
	font-size:120px;
	text-align:center;
}
.scenefake3d-code h2 span {
	color:#20AA97;
}
.slide.active .scenefake3d-code h2 {
	display:block;
}
.slide.active .scenefake3d-code pre.active+h2 {
	display:none;
}


.ie3d {
	position:relative;
	width:720px;
	height:300px;
	font-size:0;
	overflow:hidden;
	border:1px solid #999;
}
.ie3d .okay {
	position:absolute;
	right:20px;
	bottom:0;
}
.ie3d .okay:after {
	content:'';
	position:absolute;
	width:196px;
	height:32px;
	border-radius:16px;
	top:-19px;
	left:-307px;
	background:transparent;
	border:3px solid #D91E76;
	box-shadow:0 0 20px #D91E76;
	opacity:0;
	transition:opacity .5s;
}
.ie3d .okay.active:after {
	opacity:1;
}
.ie3d .okay IMG {
	transform: translateY(100%);
	transition:transform 1s .5s;
}
.ie3d .okay.active IMG {
	transform: translateY(0);
}


.rotator {
	position:relative;
	width:100px;
	height:200px;
	overflow:hidden;
}
	.rotator:before {
		content:'';
		position:absolute;
		top:-50%;
		left:0;
		display:block;
		width:200px;
		height:200px;
		background:#000;
		transform:rotate(45deg);
		transform-origin:0 100%;
	}
	.rotator:after {
		content:'';
		position:absolute;
		top:50%;
		left:60%;
		display:block;
		width:28px;
		height:28px;
		transform:translate(-50%,-50%);
		background-size:100% 100%;
		background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNOC43NTEgMy40OTVoLTUuODMybDIuMDg0LTIuMDdjLjMyNy0uMzI3LjMyNy0uODUzIDAtMS4xNzktLjMzLS4zMjgtLjg2My0uMzI4LTEuMTkyIDBsLTMuNTY2IDMuNTQyYy0uMzI2LjMyNy0uMzI2Ljg1NiAwIDEuMTgybDMuNTY3IDMuNTQzYy4zMjkuMzI1Ljg2Mi4zMjcgMS4xOTIgMCAuMzI2LS4zMjcuMzI2LS44NTUgMC0xLjE4MmwtMi4xMDItMi4wODVoNS44NDljMS45MzIgMCAzLjQ5OSAxLjU2OCAzLjQ5OSAzLjUwMSAwIDEuOTMzLTEuNTY3IDMuNTAyLTMuNDk5IDMuNTAyLS40ODMgMC0uODc0LjM5Mi0uODc0Ljg3NXMuMzkxLjg3Ni44NzQuODc2YzIuODk5IDAgNS4yNDktMi4zNTMgNS4yNDktNS4yNTNzLTIuMzUtNS4yNTItNS4yNDktNS4yNTJ6Ii8+PC9zdmc+');
	}


.sideview3d {
	position:relative;
}
	.sideview3d .cube {
		transition:transform 3s ease-out;
	}
	.sideview3d  .side.left,
	.sideview3d  .side.right {
		background:transparent;
	}
	.sideview3d IMG {
		position:absolute;
		opacity:0;
		transition:opacity .5s 3s;
	}
	.sideview3d .monitor {
		top:-60px;
		left:50%;
		margin-left:-87px;
	}
	.sideview3d .eye {
		left:0;
		top:50%;
		margin-top:-20px;
	}
	.sideview3d .dot {
		position:absolute;
		top:50%;
		left:50%;
		top:50%;
		width:24px;
		height:24px;
		margin:-12px 0 0 -30px;
		border-radius:12px;
		box-shadow:0 0 2px #FFF;
		box-sizing:border-box;
		background:#D00;
		opacity:0;
		transition:opacity .5s 4s;
	}
	.sideview3d .sideview3d-toggle.active ~ .scene3d .cube {
		transform:rotateY(-90deg);
	}
	.sideview3d .sideview3d-toggle.active ~ IMG,
	.sideview3d .sideview3d-toggle.active ~ .dot {
		opacity:1;
	}

.sideview {
	position:relative;
	width:400px;
	height:400px;
	margin-left:184px;
}
	.sideview._shift {
		margin-top:-48px;
		margin-left:276px;
	}

.sideview>IMG {
	position:absolute;
	top:-15px;
	left:-61px;
}

.sideview-cube {
	position:relative;
	width:400px;
	height:400px;
	background:#FFF;
	border:15px solid #20AA97;
	box-sizing:border-box;
	box-shadow: 0 0 1px #FFF;
	transition:transform 1s;
}

.sideview-rotator {
	position:absolute;
	top:150px;
	left:0;
	width:100px;
	height:100px;
	border:15px solid #000;
	box-sizing:border-box;
	transition:transform 1s;
}


.sideview .movecode {
	visibility:hidden;
	margin:38px 0 0 -276px;
}


.sideview .z-axis {
	position:absolute;
	top:200px;
	left:-276px;
	width:768px;
	height:1px;
	border-bottom:2px dotted #D00;
}
.sideview .z-axis~.sideview-cube {
	background:transparent;
}

.sideview-rotate.active~.sideview-cube {
	transform:rotate(45deg);
}
.sideview-rotate.active~.sideview-rotator {
	transform:rotate(45deg);
}

.sideview-restore.active~.sideview-cube {
	transform:rotate(0deg);
}
.sideview-restore.active~.sideview-rotator {
	transform:rotate(0deg);
}
.sideview-correct.active~.sideview-rotator {
	transform:translateX(-100%);
}
.sideview-scale.active~.sideview-rotator {
	transform:translateX(-100%) scale(0.5);
}
.sideview-move.active~.sideview-rotator {
	transform:translateX(-300%) scale(0.5);
}
.sideview-move.active~.movecode {
	visibility:visible;
}



.place.t {
	padding:20px;
}


@-webkit-keyframes parallax {
	0% { transform:translateY(0); }
	25% { transform:translateY(50px); }
	50% { transform:translateY(0); }
	75% { transform:translateY(-50px); }
	100% { transform:translateY(0); }
}
@keyframes parallax {
	0% { transform:translateY(0); }
	25% { transform:translateY(50px); }
	50% { transform:translateY(0); }
	75% { transform:translateY(-50px); }
	100% { transform:translateY(0); }
}

.parallax {
	display:none;
	position:relative;
	margin-left:184px;
	width:400px;
	height:400px;
	color:#000;
	border:2px dotted;
}
	.parallax.active {
		display:block;
	}
	.parallax.active+H2 {
		display:none;
	}

	.parallax .txt {
		position:absolute;
		top:175px;
		left:0;

		display:block;
		width:100%;
		height:50px;
		font-size:50px;
		line-height:50px;
		text-transform: uppercase;
		text-align: center;
	}
	.parallax-anim.active~.txt {
		-webkit-animation:parallax 10s infinite linear;
		animation:parallax 10s infinite linear;		
	}

	.parallax .offset {
		position:absolute;
		left:115px;
		width:60px;
		height:60px;
		font-size:50px;
		line-height:60px;
		color:rgba(0,0,0,0);
		text-transform: uppercase;
		text-align: center;
		transition:color .5s;
	}
		.parallax .offset._from {
			top:25px;
		}
		.parallax .offset._to {
			bottom:25px;
		}
		.parallax .offset._from:before {
			content:'-';
			position:absolute;
			right:75%;
		}

		.parallax .offset:after {
			content:'';
			position:absolute;
			left:50%;
			margin-left:36px;
			width:48px;
			height:80px;
			background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20192%20320%22%3E%3Cpath%20d%3D%22M189.7%2093.8c-3.103%203.101-7.999%203-11.299%200l-74.396-66.4v284.6c0%204.4-3.6%208-7.999%208-4.4%200-8-3.6-8-8v-284.6l-74.392%2066.3c-3.399%202.899-8.1%203.2-11.199.1-3.101-3.1-3.3-8.5-.101-11.399%200%200%2086.994-79.2%2087.994-80%201-.8%202.799-2.4%205.7-2.4%202.899%200%204.899%201.6%205.7%202.4.8.8%2087.993%2080%2087.993%2080%201.5%201.5%202.3%203.6%202.3%205.699-.001%202.1-.801%204.1-2.301%205.7z%22/%3E%3C/svg%3E');
			background-size:100% 100%;
			opacity:0;
			transition:opacity .5s 5s;
		}
		.parallax .offset._from:after {
			top:0;
		}
		.parallax .offset._to:after {
			bottom:0;
			transform:rotate(180deg);
		}

		.parallax-anim.active~.offset:after {
			opacity:.25;
		}
		.parallax-val.active~.offset {
			color:#20AA97;
		}

		.parallax-rotate {
			position:absolute;
			top:50%;
			left:100%;
			margin:-48px 0 0 40px;
			width:96px;
			height:96px;
			background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Cpath%20d%3D%22M47.693%2044.385c-.404-.388-1.06-.388-1.464%200-4.781%204.591-18.544-.872-30.055-11.921-11.51-11.049-17.195-24.264-12.415-28.854%202.208-2.121%206.606-2.152%2012.074-.083%205.736%202.171%2012.013%206.346%2017.714%2011.768l-5.216-.002c-.57%200-1.036.446-1.036.994%200%20.545.466.994%201.036.994l8.761.002v-8.415c0-.545-.465-.994-1.035-.994-.572%200-1.035.449-1.035.994v5.032c-5.903-5.614-12.433-9.952-18.431-12.223-6.36-2.41-11.438-2.215-14.298.528-5.765%205.537-.311%2019.445%2012.416%2031.668%209.296%208.925%2019.529%2014.127%2026.618%2014.127%202.617%200%204.81-.709%206.362-2.202.414-.395.414-1.022.004-1.413z%22/%3E%3C/svg%3E');
			background-size:100% 100%;
			transform:rotate(230deg);
			opacity:0;
			transition:opacity .25s;
		}
		.parallax-rotate.active {
			opacity:.5;
		}

.sincos {
	position:absolute;
	top:206px;
	left:728px;
}
	.sincos p {
		position:relative;
		padding-left:100px;
		margin-bottom:10px;
	}
	.sincos p:before {
		content:'';
		position:absolute;
		top:30px;
		left:0;
		width:98px;
		height:1px;
		border-bottom:2px dotted #ccc;
	}
	.sincos span {
		position:absolute;
		top:0;
		left:0;
		padding-right:2px;
		background:#FFF;
	}

.blurimages {

}
	.blurimages>div {
		position:relative;
		float:left;
		width:250px;
		text-align:center;
	}
	.blurimages>div+div {
		margin-left:25px;
	}
	.blurimages span {
		position:absolute;
		top:75px;
		left:15px;
		color:#FFF;
	}
	.blurimages .res {
		position:relative;
		margin-top:10px;
		width:250px;
		height:250px;
		overflow:hidden;
	}
		/*.blurimages .res:after {
			content:'';
			position:absolute;
			top:0;
			left:0;
			width:240px;
			height:240px;
			border:5px solid #20AA97;
		}*/
	.blurimages .res>IMG {
		margin:-80px 0 0 -50px;
	}
	.blurimages>._webkit .res>IMG {
		-webkit-filter:blur(10px);
		filter:blur(10px);
	}

.rightlink {
	position:absolute;
	top:106px;
	right:96px;
}

@-webkit-keyframes sidebar {
	0% { width:0%; }
	15% { width:0%; }
	35% { width:50%; }
	65% { width:50%; }
	85% { width:0%; }
	100% { width:0%; }
}
@keyframes sidebar {
	0% { width:0%; }
	15% { width:0%; }
	35% { width:50%; }
	65% { width:50%; }
	85% { width:0%; }
	100% { width:0%; }
}

.slide.shout .gd-ttl {
	font-size:78px;
	color:#20AA97;
}

.cssblur {
	position:relative;
	width:710px;
	height:400px;
	margin-left:45px;
}
	.cssblur._inner {
		
	}

	.cssblur:after {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:700px;
		height:390px;
		border:5px solid #666;
	}

	.cssblur-layer {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		overflow:hidden;
	}

	.cssblur._inner .cssblur-layer {
		background-color:#F2F3F5;
	}

	.cssblur-layer.orig {
		top:-50px;
		left:0;
		width:100%;
		height:500px;
		opacity:0;
		transition:opacity 1s;
	}
	.cssblur-layer.overlay {
		width:0;
		box-shadow:5px 0 5px rgba(0,0,0,.25);
	}
	.cssblur._opened .cssblur-layer.overlay {
		width:50%;
	}

	.cssblur .bg {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position:0 50%;
		background-image:url(../pictures/bgfull.jpg);
	}
	.cssblur .bg._half {
		height:300px;
		background-image:url(../pictures/bghalf.jpg);
	}
	.cssblur .bg._stretch {
		background-size:100% 100%;
	}
	.cssblur .bg._opacity {
		opacity:0;
		transition:opacity 1s;
	}
	.cssblur .bg._opacity.active {
		opacity:1;
	}

	.cssblur-layer.overlay .bg {
		-webkit-filter:blur(5px);
		filter:blur(5px);
	}
	.cssblur-layer.overlay._nofilter .bg {
		-webkit-filter:none;
		filter:none;
	}

	.cssblur .lbl {
		position:absolute;
		top:15px;
		right:15px;
		color:#FFF;
		background:#20AA97;
		padding:0 5px;
		opacity:0;
		transition:opacity 1s;
	}

	.cssblur-layer .code {
		display:none;
	}

	.cssblur .svg {
		position:absolute;
		top:0;
		left:0;
		width:355px;
		height:300px;
		overflow:hidden;
	}
	.cssblur .svg._after {
		height:350px;
	}
	.cssblur .svg>svg {
		position:absolute;
		top:0;
		left:0;
		display:block;
		width:710px;
		height:300px;
	}
	.cssblur .svg._after>svg {
		height:450px;
	}

	.cssblur-nofilter.active ~ .cssblur-layer.overlay .bg {
		-webkit-filter:none;
		filter:none;
	}
	.cssblur-yesfilter.active ~ .cssblur-layer.overlay .bg {
		-webkit-filter:blur(5px);
		filter:blur(5px);
	}

	.cssblur-shift.active ~ .cssblur-layer.overlay .bg {
		transition:background-position 1s linear;
		background-position:0 0;
		/*transition:background 1s linear;
		background-size:auto 100%;*/
	}

	.cssblur-showimg ~ .cssblur-layer.overlay {
		transition:width 1s linear;
	}
	.cssblur-showimg ~ .cssblur-layer.overlay:after {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		box-shadow:0 0 20px rgba(221,0,0,0);
		transition:box-shadow 1s 2s;
	}

	.cssblur-highlight.active ~ .cssblur-layer {
		overflow:visible;
	}
	.cssblur-highlight.active ~ .cssblur-layer.orig {
		opacity:1;
	}
		.cssblur-highlight.active ~ .cssblur-layer.overlay:after {
			box-shadow:0 0 20px #D00;
		}
	.cssblur-showbg.active ~ .cssblur-layer .lbl._bg {
		opacity:1;
	}

	.cssblur-showimg.active ~ .cssblur-layer.overlay {
		width:50%;
	}

	.cssblur-showimg.active ~ .cssblur-layer .lbl._img {
		transition-delay:1s;
		opacity:1;
	}

	.slide.active .cssblur._anim .cssblur-layer.overlay {
		-webkit-animation:sidebar 10s infinite linear;
		animation:sidebar 10s infinite linear;		
	}


	.cssblur-layer .text {
		margin-top:315px;
		font-weight:700;
		letter-spacing:.1em;
		text-align:center;
		visibility:hidden;
	}

	.slide .cssblur-bigttl {
		position:absolute;
		z-index:2;
		top:20px;
		left:20px;
		padding:10px;
		background:#20AA97;
		color:#FFF;
	}

.slide.active .cssblur-showtext.active ~ .cssblur-layer .text {
	visibility:visible;
}
.slide.active .cssblur-showtext.active ~ .cssblur-layer.overlay {
	opacity:.95;
}



.deprecated {
	position:relative;
}
	.deprecated .cross {
		position:absolute;
		top:0;
		left:50px;
		width:300px;
	}
		.deprecated .cross:before,
		.deprecated .cross:after {
			content:'';
			position:absolute;
			top:0;
			width:110%;
			height:4px;
			background:#D00;
		}
		.deprecated .cross:before {
			left:0;
			transform-origin:0 0;
			transform:rotate(25deg);
		}
		.deprecated .cross:after {
			right:0;
			transform-origin:100% 0;
			transform:rotate(-25deg);
		}


@keyframes bubble {
	0% {opacity:0;}
	20% {opacity:0;}
	25% {opacity:1;}
	75% {opacity:1;}
	80% {opacity:0;}
	100% {opacity:0;}
}

.bubbles {

}
.bubble {
	position:absolute;
	bottom:100px;
	right:100px;
	width:200px;
	height:150px;
	box-sizing:border-box;
	padding:50px 0;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%2075%22%3E%3Cpath%20d%3D%22M46.709%200c-25.797%200-46.709%2014.499-46.709%2032.375%200%2017.879%2020.913%2032.375%2046.709%2032.375%208.089%200%2015.695-1.426%2022.326-3.933%2013.094%204.906%2030.965%2014.183%2030.965%2014.183s-11.653-6.57-16.461-14.557c-1.225-2.033-1.945-4.172-2.357-6.229%207.598-5.754%2012.234-13.422%2012.234-21.84%200-17.875-20.912-32.374-46.707-32.374m0%202.583c24.328%200%2044.118%2013.364%2044.118%2029.794%200%207.282-3.983%2014.308-11.21%2019.786l-1.287.979.314%201.583c.52%202.589%201.42%204.961%202.676%207.047.396.661.84%201.309%201.308%201.943-4.229-1.907-8.662-3.805-12.677-5.311l-.916-.345-.917.345c-6.517%202.465-13.923%203.768-21.411%203.768-24.325%200-44.119-13.366-44.119-29.796s19.794-29.793%2044.119-29.793h.002z%22/%3E%3C/svg%3E');
	text-align:center;
	line-height:40px;
	text-indent:-10px
}

	.bubbles .bubble {
		opacity:0;
	}
	.bubbles li.active .bubble {
		-webkit-animation:bubble 10s 1 linear;
		animation:bubble 10s 1 linear;
	}

.col {
	float:left;
	width:340px;
}
.col+.col {
	width:460px;
}

small {
	font-size:75%;
}

.slide.shout.link {
	background:#FFF;
}
.slide.shout.link h2 a {
	color:#20AA97;
}


.layout {
	position:relative;
	width:800px;
	height:420px;
	box-sizing:border-box;
	border:2px dashed #999;
}
	.l-header {
		position:absolute;
		z-index:2;
		top:8px;
		right:8px;
		left:8px;
		height:50px;
		border:2px dashed #D00;
		background-color: rgba(221,0,0,.1);
		/*border:2px dashed #6988BE;
		background-color: rgba(105,136,190,.1);*/
	}
	.l-sidebar {
		position:absolute;
		z-index:2;
		top:70px;
		bottom:8px;
		left:8px;
		width:100px;
		border:2px dashed #D00;
		background-color: rgba(221,0,0,.1);
		/*border:2px dashed #6988BE;
		background-color: rgba(105,136,190,.1);*/
	}
	.l-content {
		position:absolute;
		top:8px;
		bottom:8px;
		left:8px;
		right:8px;
		/*border:2px dashed #20AA97;
		background-color: rgba(32,170,151,.1);*/
		border:2px dashed #6988BE;
		background-color: rgba(105,136,190,.15);
	}
	.l-content-wrap {
		position:absolute;
		top:62px;
		bottom:0;
		left:112px;
		right:0;
		background-color: rgba(105,136,190,0);
		transition:background 1s 5s;
	}
		.l-content.active .l-content-wrap {
			background-color: rgba(105,136,190,.15);
		}
	.l-modal {
		position:absolute;
		z-index:3;
		top:8px;
		bottom:8px;
		left:8px;
		right:8px;
		/*border:2px dashed #fff;*/
		background-color: rgba(0,0,0,.7);
	}
	.l-modal code {
		color:#fff;
	}
	.l-header pre {
		margin-left:45px;
	}
	.l-sidebar pre {
		position:absolute;
		top:35px;
		right:75px;
		margin:0;
		transform-origin:100% 0;
		transform:rotate(-90deg);
	}
	.l-content pre {
		margin:25px 0 0 50px;
	}
	.l-modal pre {
		margin:65px 0 0 135px;
	}


.slide.cover img.next {
	z-index:1;
}

.awards span {
	color:#999;
}


.social {
	position:relative;
	padding-left:96px;
}
.social:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:48px;
	height:48px;
	background-size:48px 48px;
	background-repeat:no-repeat;
}
.social._fb:before {
	background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M18%2032v-14h6l1-6h-7v-3c0-2%201.002-3%203-3h3v-6h-5c-5%200-7%203-7%208v4h-6v6h6v14h6z%22%20fill%3D%22%233B5998%22/%3E%3C/svg%3E');
}
.social._tw:before {
	background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M31.993%206.077c-1.177.523-2.441.876-3.77%201.033%201.355-.812%202.396-2.098%202.887-3.63-1.269.751-2.673%201.299-4.168%201.592-1.198-1.275-2.904-2.072-4.793-2.072-3.625%200-6.562%202.938-6.562%206.563%200%20.514.057%201.016.169%201.496-5.455-.274-10.291-2.887-13.529-6.858-.564.97-.888%202.097-.888%203.3%200%202.278%201.159%204.286%202.919%205.464-1.075-.035-2.087-.329-2.972-.821l-.001.082c0%203.181%202.262%205.834%205.265%206.437-.55.149-1.13.23-1.729.23-.424%200-.834-.041-1.234-.117.834%202.606%203.259%204.504%206.13%204.558-2.245%201.76-5.075%202.811-8.15%202.811-.53%200-1.053-.031-1.566-.092%202.904%201.86%206.354%202.947%2010.061%202.947%2012.072%200%2018.675-10.001%2018.675-18.675%200-.284-.008-.568-.02-.85%201.283-.925%202.395-2.08%203.276-3.398z%22%20fill%3D%22%2355ACEE%22/%3E%3C/svg%3E');
}
.social._web:before {
	background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2078%2078%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M39%200c-21.539%200-39%2017.461-39%2039s17.461%2039%2039%2039%2039-17.461%2039-39-17.461-39-39-39zm1.221%2070.934c-.445.399-.907.483-1.217.483-.313%200-.78-.085-1.232-.491-5.489-4.938-9.529-11.251-11.828-18.24%208.567-2.189%2017.566-2.219%2026.146-.091-2.295%207.029-6.352%2013.379-11.869%2018.339zm-15.747-24.064c-.469-2.574-.724-5.205-.724-7.87s.255-5.296.723-7.87c4.827%201.231%209.776%201.849%2014.727%201.849%204.82%200%209.639-.587%2014.345-1.754.457%202.544.706%205.143.706%207.775s-.249%205.231-.706%207.775c-9.54-2.366-19.545-2.336-29.071.095zm13.306-39.804c.444-.399.907-.483%201.216-.483.313%200%20.78.086%201.232.491%205.513%204.959%209.566%2011.306%2011.86%2018.331-8.58%202.127-17.579%202.098-26.146-.091%202.3-6.992%206.344-13.309%2011.838-18.248zm21.538%2022.406c3.287-1.181%206.489-2.663%209.569-4.441%201.993%204.245%203.113%208.978%203.113%2013.969s-1.12%209.724-3.112%2013.969c-3.08-1.779-6.282-3.26-9.569-4.441.604-3.106.932-6.293.932-9.528-.001-3.235-.328-6.421-.933-9.528zm6.536-9.617c-2.59%201.494-5.275%202.759-8.029%203.782-1.917-5.907-4.934-11.373-8.866-16.099%206.879%202.183%2012.783%206.566%2016.895%2012.317zm-36.812-12.316c-3.901%204.689-6.899%2010.107-8.817%2015.961-2.732-1.037-5.396-2.305-7.963-3.807%204.106-5.671%209.965-9.992%2016.78-12.154zm-19.849%2017.311c3.061%201.793%206.244%203.292%209.513%204.491-.621%203.148-.956%206.379-.956%209.659%200%203.28.334%206.511.956%209.659-3.269%201.2-6.452%202.698-9.513%204.491-2.045-4.291-3.193-9.088-3.193-14.15s1.148-9.859%203.193-14.15zm3.069%2033.456c2.566-1.501%205.23-2.77%207.963-3.807%201.918%205.854%204.916%2011.273%208.817%2015.962-6.815-2.162-12.674-6.483-16.78-12.155zm36.697%2012.155c3.932-4.727%206.948-10.192%208.865-16.099%202.754%201.023%205.439%202.289%208.029%203.782-4.111%205.751-10.015%2010.134-16.894%2012.317z%22%20fill%3D%22%236988BE%22/%3E%3C/svg%3E');
}